
<div class="card-container">
    <p>Here are some Webpages/Projects that i have done:</p>
</div>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://mywebsite-sanjaya.herokuapp.com/Movies">
      <img class = "material-icons" width="24" height="24" style="padding-right: 8px" src="assets/svg/movie.svg" fill-rule="evenodd" clip-rule="evenodd">
      <span>Movie Website Webpage</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>
    
    <a class="card" target="_blank" rel="noopener" href="https://github.com/sanjaya4491/myWebsite">
      <img class = "material-icons" width="24" height="24" style="padding-right: 8px" src="assets/svg/moviet.svg" fill-rule="evenodd" clip-rule="evenodd">
      <span >Movie App</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://github.com/sanjaya4491/SonarArduino">
      <img class = "material-icons" width="24" height="24" style="padding-right: 8px" src="assets/svg/sonar.svg" fill-rule="evenodd" clip-rule="evenodd">
      <span>Sonar Project</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://github.com/sanjaya4491/votingApp">
      <img class = "material-icons" width="28" height="28" style="padding-right: 8px" src="assets/svg/vote.svg" fill-rule="evenodd" clip-rule="evenodd">
      <span>Voting App</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://github.com/sanjaya4491/portfolioProject">
      <img class = "material-icons" width="24" height="24" style="padding-right: 8px" src="assets/svg/portfolio.svg" fill-rule="evenodd" clip-rule="evenodd">
      <span>My Portfolio App</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

  </div>
